/**/
    body{
        background-color: skyblue;
        border-radius: 20px;
    }

    button{
        color: blue;
        font-family: Times;
        border-radius: 20px;
    }

    #minuteStr {
        color: #ff0000;
        font-size: 20px;
        text-align: left;
        position:absolute; top:210px; 
        left:10px; right:10px;
    }
    
    #secondStr {
        color: #ff0000;
        font-size: 10px;
        text-align: left;
        position:absolute; top:250px; 
        left:10px; right:10px;
        overflow-wrap: break-word;
    }

    #remain {
        color: #ff0000;
        font-size: 20px;
        text-align: center;
        position:absolute; top:310px; 
        left:10px; right:10px;
        font-weight: bold;
    }
    
    #time {
        color: #ff0000;
        font-size: 20px;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        position:absolute; top:340px; 
        left:10px; right:10px;
        box-shadow: 5px 5px 5px;
    }

    #time::after{
        content: "秒";
    }
    
    #mycanvas {
        color: #ffffff;
        font-size: 40px;
        text-align: center;
        position:absolute; top:10px; left:100px; right:10px;
    }
    
    #btnA {
        background-color:#b9e041;
        font-size: 20px;
        position:absolute; top:380px; left:2%; width:28%; height:60px; 
    }
    
    #btnB {
        background-color:#b9e041;        
        font-size: 20px;
        position:absolute; top:380px; left:30%; width:28%; height:60px;
    }

    #btnC {
        background-color:#b9e041;
        font-size: 20px;
        position:absolute; top:380px; left:58%; width:42%; height:60px;
    }

    #btnmap {
        color:#ff7b00;
        background-color:#00ffff;
        font-size: 30px;
        position:absolute; top:500px; left:0%; width:30%; height:100px;
    }

    #btnClear {
        color: blue;
        background-color:wheat;
        font-size: 20px;
        position:absolute; top:500px; left:30%; width:40%; height:100px;
    }

    #btntime {
        color:#ff7b00;
        background-color:#00ffff;
        font-size: 20px;
        position:absolute; top:500px; left:70%; width:30%; height:100px;
    }
    
    #minute {
        font-size: 30px;
        position:absolute; top:450px; left:60px; width:80px; height:40px;   
    }
    
    #second {
        font-size: 30px;
        position:absolute; top:450px; left:190px; width:80px; height:40px;   
    }
    
    input[type=number] {text-align: right;}